*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: monospace;
  font-size: 10pt;
  font-weight: 500;
  background-image: linear-gradient(90deg, #ad5389, #3c1053);
  
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;  
}
.gameContainer{
  margin-left: 1rem ;
  margin-right: 1rem ;
  text-align: center;
}
#label{
    margin-bottom: 20px;
}
#Title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
}
h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.board{
  background-color: rgb(0, 17, 51);
  border-radius: 15px;
  margin: auto;
  width: 450px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.circle {
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  
}
.circlePlayer{
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.playerInfo {
  padding: 10px 10px;
  margin: 10px;
  flex: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  height: 25rem;
}
img {
  width: 15em;
  height: 8em;
  border: 2px solid black;
  border-radius: 50px;
}

.playerName {
  width: 60%;
  font-size: 2vw;
  font-family: 'VT323', monospace;
  text-align: center;
  height: 50px;
  margin: 10px auto;
  color: white;
}


.score {
  font-size: 4rem;
  color: white;
}

.notification {
  font-size: 2.5rem;
  margin-top: 10px;
  color: white;
}
.red {
  background-color: darkred;
}
.blue {
  background-color: blue;
}
.button {
  cursor: pointer;
  margin: 10px auto;
  width: 13rem;
  height: 4rem;
  padding: 5px;
  border-radius: 2rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2rem;
}

.button:hover {
  background-color: rgba(241, 156, 187, 0.6);
}
#C0,
#C1,
#C2,
#C3,
#C4,
#C5,
#C6 {
  background-color: grey;
}
#C0:hover,
#C1:hover,
#C2:hover,
#C3:hover,
#C4:hover,
#C5:hover,
#C6:hover {
  background-color: black;
}
