body{
    margin: 0px;
    background-color: bisque;
   
}
.grid{
    text-align: center;
    border: 1px solid black ;
    width: 800px ; 
    height: 800px;
    background-color: rgb(26, 115, 189);
    margin: 10px 10px ;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    border-radius:5px ;
}
.grid div{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 2px 2px;
    border-radius:50px ;
}
.player_one{
  background-color: crimson;

}
.player_two{
    background-color: blue;
   
}